@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@import "@radix-ui/themes/styles.css";


:root {
    --color-primary: #0C4A9F;
    --color-alternate: #5191CD;
    --color-gold: #C4A356;
    --color-secondary: #FDFC02;
}

* {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}